<div class="grid" gdColumns="repeat(12, 1fr)" gdColumns.sm="repeat(8, 1fr)" gdColumns.xs="repeat(4, 1fr)"
    gdGap="0 1.6rem" ngClass.xs="mobile" ngClass.sm="tablet" ngClass.md="laptop" ngClass.gt-md="desktop">
    <!-- <app-loading [loading]="loading"></app-loading>  -->
    <div gdColumn="2/span 10" gdColumn.md="2/span 10" gdColumn.sm="1/span 8" gdColumn.xs="1/span 4">
        <div fxLayout="row" class="head-title" fxLayoutAlign="center center">
            <div class="title-welcome" fxLayout="column">
                <p fxLayoutAlign="start center">Bienvenid@ a</p>
                <p fxLayoutAlign="end center">EcoQR</p>
            </div>


        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="init">
            <div class="card home" >
                <div  fxLayout="row" fxLayoutAlign="center center">

                    <div id="swiper-ftu" class="swiper-container" fxLayout="row">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" fxLayout="row" fxLayout.xs="column"  >
                                <div fxFlex="40" fxFlex.xs fxLayout="row" fxLayoutAlign="center center">
                                    <img src="assets/img/Sustentable-consu-0616.png" alt="">
                                </div>
                                <div fxFlex="60" fxFlex.xs fxLayout="column" class="dialog">
                                    <p><strong>Sustentabilidad ambiental</strong></p>
                                    <p> Debido a la creciente huella ecologica los consumidores y/o ciudadanos se han
                                        visto en la necesidad de interiorisarse en como ayudar al medio ambiente,
                                        mediante este aplicativos te instruremos en este camino y guiaremos.</p>
                                </div>
                            </div>
                            <div class="swiper-slide" fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="45" fxFlex.xs fxLayout="row" fxLayoutAlign="center center">
                                    <!-- <img src="assets/img/lady.png" alt=""> -->
                                </div>
                                <div fxFlex="55" fxFlex.xs fxLayout="column" class="dialog">
                                    <p><strong>Slide2!</strong></p>

                                </div>
                            </div>

                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column"   class="spacing"  fxLayoutAlign="space-around center" fxLayoutAlign.xs="center center" *ngIf="init">

                <button  mat-button class="btn btn-primary" fxFlex.xs="100" (click)="showLogin()">
                    INGRESAR
                  </button>
                  <button mat-button class="btn btn-secondary"  fxFlex.xs="100" (click)="goRegister()"  >
                    REGISTRARSE
                  </button>

         
          </div>
          <div fxLayout="row" fxLayout.xs="column"   class="spacing"  fxLayoutAlign="space-around center" fxLayoutAlign.xs="center center" *ngIf="!init" >
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="margin">
              <form id="myForm" [formGroup]="formLoginQR" (ngSubmit)="submitForm()" fxLayout="row wrap" fxLayoutAlign="space-between center" >
                <mat-form-field fxFlex.xs="100" fxFlex="48" fxLayoutGap="10px">
                  <mat-label>Usuario</mat-label>
                  <input matInput formControlName="user" />
                  <mat-icon matSuffix (click)="showInfo()">info</mat-icon>
                  <!-- <em fxFlexOffset="5px" fxFlex="24" fxLayoutAlign="end center" class="icon-SYS004 blue"
                    (click)="showModalCI()"></em> -->
                  <mat-error>
                    El campo se encuentra vacío
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex.xs="100" fxFlex="48" fxLayoutGap="10px">
                  <mat-label>Contraseña</mat-label>
                  <input matInput formControlName="pass" [type]="hide ? 'password' : 'text'"  />
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error> Debes ingresar un celular válido </mat-error>
                </mat-form-field>
              </form>
              </div>

              <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <button  mat-button class="btn btn-primary" type="submit" (click)="submitForm()" fxFlex.xs="100" fxFlex.xs="100" fxFlex="48" fxLayoutGap="10px" [disabled]="!formLoginQR.valid">
                    ¡Reciclar!
                  </button>
                  <button mat-button class="btn btn-secondary"  fxFlex.xs="100"  fxFlex.xs="100" fxFlex="48" fxLayoutGap="10px" (click)="showinit()">
                    Cancelar
                  </button>
      
              </div>
          </div>
    </div>
  


</div>