<div class="container-sidebar" fxLayout="row" ngClass.xs="mobile">
    <div class="container-icon" fxFlex="50" fxLayoutAlign="start center"
        (click)="optionsDropdownActive = !optionsDropdownActive">
        <mat-icon fxLayoutAlign="center center">home</mat-icon>
    </div>
    <div class="container-icon-rigth" fxFlex="50" fxLayoutAlign="end center"  (click)="showFiller = !showFiller">
        <img fxFlex.xs="25" fxFlex="10" src="assets/img/login_exit.png" alt="">
    </div>
</div>
<div *ngIf="optionsDropdownActive">
    <nav class="meritoNav" fxLayout="column" fxLayoutAlign="center center">
        <a [ngClass]="active === 'container' ? 'selected' : ''" fxLayout="row" (click)="setActive('container')"
            fxFlex.xs="grow" fxFlex="50" fxLayoutAlign="center center">
            <img fxFlex="25" src="assets/img/recycling_bin.png" alt="">
            <p fxFlex="60">Mi contenedor</p>
        </a>
        <a [ngClass]="active === 'meritos' ? 'selected' : ''" (click)="setActive('meritos')"
            fxLayoutAlign="center center">
            <img fxFlex="25" src="assets/img/garbage_truck.png" alt="">
            <p fxFlex="60">Reciclar</p>
        </a>
        <a [ngClass]="active === 'huella' ? 'selected' : ''" (click)="setActive('huella')"
            fxLayoutAlign="center center">
            <img fxFlex="25" src="assets/img/carbon_foot.png" alt="">
            <p fxFlex="60">Mi Huella</p>
        </a>
        <!--
        <a [ngClass]="active === 'meta' ? 'selected' : ''"  (click)="setActive('meta')">
            <em class="icon-SERV077"></em>
            <p>Meta</p>
        </a>
        <a [ngClass]="active === 'conoce' ? 'selected' : ''"  (click)="setActive('conoce')">
            <p>Conoce</p>
        </a> -->
    </nav>
</div>

<div fxLayoutAlign="end center" *ngIf="showFiller" >
 
    <mat-drawer-container class="example-container" autosize fxFlex="50">
        <mat-drawer #drawer class="example-sidenav" mode="side">
        </mat-drawer>
      
        <div class="example-sidenav-content" fxLayout="column" >
       <p>Nombre Apellido1</p>
       <p>ultima conexión</p>
        </div>
      
      </mat-drawer-container>

</div>