.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .preloader {
    align-items: center;
    position: center;
    display:  inline-table;
    width: 100px;
    height: 100px;
    border: 5px;
    border-top: 5px solid red;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.contenedor{
    position: center;
    padding: 12px;
    display: inline-table;
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  align-items: center;
  left: 0px;
  top: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -ms-display: flex;
  display: flex;
  /* alineacion vertical */
  align-items: center;
  /* alineacion horizontal */
  justify-content: center;
  z-index: 998;
}