<div id="MODAL_MVP" class="scroll" ngClass.xs="mobile" ngClass.sm="tablet" ngClass.md="laptop" ngClass.gt-md="desktop">

  <div mat-dialog-title fxLayout="row" fxLayoutAlign="start  center" class="title">
    <mat-icon fxFlex="10" fxLayoutAlign="center center" class="icon-info">info</mat-icon>
    <p fxFlex class="title">{{data.title}}</p>
  </div>

  <div mat-dialog-content fxLayout="row" fxLayoutAlign="center  center">
    <div  [innerHTML]="data.body">

    </div>


  </div>

  <div mat-dialog-actions fxLayoutAlign="center  center">
    <div class="buton-center" fxLayout="row" fxFlex.xs="100" fxLayoutAlign="center  center">
      <button class="btn btn-primary" fxFlex="75" fxFlex.xs="100" mat-button  (click)="clickClose()"> {{button}} </button>
    </div>
  </div>
</div>
