

    <div gdColumn="2/span 10" gdColumn.md="2/span 10" gdColumn.sm="1/span 8" gdColumn.xs="1/span 4">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div  fxLayout="row" >
                <mat-stepper linear #stepper [selectedIndex]="1"  >
                    <mat-step  [editable]="isEditable" completed="true">
        
                        <ng-template matStepLabel> Introducción
                        </ng-template>
                        
                    </mat-step>
                    <mat-step [editable]="isEditable">
                        <ng-template matStepLabel> Scaneo
                        </ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel> Indicaciones
                        </ng-template>
                    </mat-step>
                  </mat-stepper>
            </div>
        </div>
   
          <div fxLayout="row"fxLayoutAlign="center center" > 
              <div class="container-intro" fxLayout="column" >
                <p>Escanea</p>
          </div>

       
          </div>
          <div fxLayout="row"fxLayoutAlign="center center">
            <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)">
            </zxing-scanner>
          </div>
    </div>
