

::ng-deep {
    .mat-stepper-horizontal, .mat-stepper-vertical {
        background-color: #003153 !important;
    }
    .mat-horizontal-stepper-header{
        pointer-events: none !important;
    }
    
    .mat-horizontal-stepper-header {
    
        height: 72px !important;
      
        padding: 0 10px !important;
        font-size: 18px;
    }
}



table {
    width: 100%;
  }

  .conten {
     width: 35%;
     margin: 5px;
  }

  .mobile {

    .std-table thead tr th {
      font-size: 1.4rem;
      text-align: center;
      margin: 1rem;
    }
    p {
      font-size: 1.2rem;
      //margin: 1rem 0.8rem;
    }
  
    .table-cont {
      margin: 1rem 0;
  
      th {
        font-size: 0.8rem;
        margin: 0px;
        //padding: 0.4rem;
        text-align: center;
      }
      td {
        font-size: 1rem;
      }
  
      table.mat-table {
        margin: 0 0rem;
      }
    }
  }

  .content-button {
   margin: 5% 2%;
  }
  .btn{
    margin: 5% 0
  };