<div gdColumn="2/span 10" gdColumn.md="2/span 10" gdColumn.sm="1/span 8" gdColumn.xs="1/span 4">

  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="container-intro" fxLayout="column">
        <p>Mi Contenedor</p>
      </div>
    </div>


    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" *ngIf="!showContendores">
      <div class="info-blue" fxLayoutAlign="center center">
        <mat-icon fxFlex="10" fxLayoutAlign="center center" class="icon-info">info</mat-icon>
        <p fxFlex> No tienes contenedores pendientes a reciclar</p>
      </div>
    </div>
    <div *ngFor="let item of dataSource">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
      <mat-card class="contenedor-card">
        <!-- <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content >

          <table>
            <thead>
              <tr >
                <th>estado</th>
                <th>Fecha creacón</th>
                <th>Fecha Reciclado</th>
                <th>id</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{item.estadoReciclado}}</td>
                <td >{{item.fechaCreacion}}</td>
                <td>{{item.fechaReciclado}}</td>
                <td>{{item.id}}</td>
              </tr>
            </tbody>
          </table>

          <div>
            <p>Residuso</p>
            <table>
              <thead>
                <tr>
                  <th>Contendor</th>
                  <th>Nombre Empresa</th>
                  <th>Material</th>
                  <th>Categoría</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let residuo of item.residuos">
                  <tr >
                    <td class="icon-container"><img  [src]="residuo.info.iconContaner" alt=""><br> <p>{{residuo.info.color}}</p></td>
                    <td >{{residuo.nombreEmpresa}}</td>
                    <td>{{residuo.material}}</td>
                    <td>{{residuo.categoria}}</td>
                  </tr>
                  <tr >
                    <td colspan="4">
                      {{residuo.info.step}}
                    </td>
               
                  </tr>
                </ng-container>
                
              
              
              </tbody>
            </table>
          </div>
  
        </mat-card-content>

        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
 
    </div>
    <br>
      <!-- <table #myTable mat-table [dataSource]="dataSource" class="std-table">



        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>


        <ng-container matColumnDef="date_creacion">
          <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
          <td mat-cell *matCellDef="let element">
            <p>{{element.fechaCreacion}} </p>

          </td>

        </ng-container>


        <ng-container matColumnDef="date_reciclado">
          <th mat-header-cell *matHeaderCellDef> Fecha Reciclado </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaReciclado}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado</th>
          <td mat-cell *matCellDef="let element"> {{element.estadoReciclado}} </td>
        </ng-container>

        <ng-container matColumnDef="residuos">
          <th mat-header-cell *matHeaderCellDef> Resudos</th>
          <td mat-cell *matCellDef="let element" class="content-residuos">
            <div *ngFor="let item of element.residuos">
              <div>
                <p>{{item.categoria}}</p>
                <p>{{item.material}}</p>
                <p>{{item.nombreEmpresa}}</p>
              </div>

            </div>
        

          </td>

        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> -->


    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="content-button" *ngIf="showContendores">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-button class="btn btn-primary" type="submit" (click)="gotoNext()" fxFlex.xs="100" fxFlex="48"
          fxLayoutGap="10px" >
          ¡Reciclar!
        </button>

      </div>
    </div>
  </div>


</div>