<div gdColumn="2/span 10" gdColumn.md="2/span 10" gdColumn.sm="1/span 8" gdColumn.xs="1/span 4">

  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="container-intro" fxLayout="column">
        <p>Mi Contenedor</p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
      <form id="myForm" [formGroup]="formQuery">
        <div class="select-tipo-quey" fxLayoutAlign="center center">
          <mat-form-field fxFlex.xs="100" fxFlex="48" fxLayoutGap="10px">
            <mat-label>Tipo de consulta</mat-label>
            <mat-select formControlName="query" (ngModelChange)="query($event)">
              <mat-option value="option1">Contenedores a reciclar</mat-option>
              <mat-option value="option2">Contenedores reciclados</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>


    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" *ngIf="!showContendores">
      <div class="info-blue" fxLayoutAlign="center center">
        <mat-icon fxFlex="10" fxLayoutAlign="center center" class="icon-info">info</mat-icon>
        <p fxFlex> No tienes contenedores pendientes a reciclar</p>
      </div>
    </div>
    <div *ngFor="let item of dataSource">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <mat-card class="contenedor-card">
          <mat-card-content>

            <table>
              <thead>
                <tr>
                  <th>Estado</th>
                  <th>Fecha creacón</th>
                  <th>Fecha Reciclado</th>
                  <th>Id</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div fxLayoutAlign="center center">
                      <mat-icon *ngIf="item.estadoReciclado" class="color-icon-estado"> check_circle_outline </mat-icon>
                      <mat-icon *ngIf="!item.estadoReciclado" class="color-icon-estado"> cancel </mat-icon>
                    </div>
                  </td>
                  <td>{{item.fechaCreacion}}</td>
                  <td *ngIf="item.fechaReciclado !== null">{{item.fechaReciclado}}</td>
                  <td>{{item.id}}</td>
                </tr>
              </tbody>
            </table>

            <div>
              <p>Residuso</p>
              <table>
                <thead>
                  <tr>
                    <th>Contendor</th>
                    <th>Nombre Empresa</th>
                    <th>Material</th>
                    <th>Categoría</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let residuo of item.residuos">
                    <tr>
                      <td class="icon-container"><img [src]="residuo.info.iconContaner" alt=""><br>
                        <p>{{residuo.info.color}}</p>
                      </td>
                      <td>{{residuo.nombreEmpresa}}</td>
                      <td>{{residuo.material}}</td>
                      <td>{{residuo.categoria}}</td>
                    </tr>
                    <tr>
                      <td colspan="4">
                        <div class="info-blue" fxLayoutAlign="center center" (click)="showInfo(residuo.categoria)">
                          <mat-icon fxFlex="10" fxLayoutAlign="center center" class="icon-info">info</mat-icon>
                          <p fxFlex> {{residuo.info.step}}</p>
                        </div>
                      </td>

                    </tr>
                  </ng-container>



                </tbody>
              </table>
            </div>

          </mat-card-content>
        </mat-card>

      </div>
      <br>
    </div>



    <div fxLayout="row" fxLayoutAlign="center center" class="content-button" *ngIf="showBoton">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-button class="btn btn-primary" type="submit" (click)="gotoNext()" fxFlex.xs="100"
          fxFlex="48" fxLayoutGap="10px">
          ¡Reciclar!
        </button>

      </div>
    </div>
  </div>


</div>