.container {
    height: 500px;
    width: 100%;
}

google-map{
    height: 100%;
    width: 100%;
    margin: 2%;
}

agm-map {
    height: 100%;
    width: 100%;
}

.info-maker{
    width: 100% !important;
    height: 100% !important;
    margin: 1px;
}

.title-info {
    font-size: 16px;
    color: #444;
    font-weight: bold;
};

.glas{
    color: blue;
    font-size: 14px;
}

.info-material {
    p{
        font-size: 14px;
    }
}


