.icon-info {
    color: #003153;
    
}
.big {
    width: 100%;
    margin-bottom: 10%;
}

.info-blue{
    margin: 2%;
    padding: 2%;
    background-color: rgba(141, 189, 189, 0.667);
    p{
       color: #fff !important; 
    }
}

::ng-deep {
    .mat-stepper-horizontal, .mat-stepper-vertical {
        background-color: #003153 !important;
    }
    .mat-horizontal-stepper-header{
        pointer-events: none !important;
    }
    
    .mat-horizontal-stepper-header {
    
        height: 72px !important;
      
        padding: 0 10px !important;
        font-size: 18px;
    }
}

.container-intro {
    margin: 10px;
    padding: 2%;
    text-align: center;
    p{
        margin: 0 0 4% 0;
    }
    p:nth-child(1) {
        color: #45B39D;
     
        font-size: 18px;
        font-weight: bold;
    }

    p:nth-child(2) {
        color: #45B39D;
        font-size: 14px;
    }
    p:nth-child(4) {
        color: #45B39D;
        font-size: 14px;

    }
}